.table-model-2 th{
  background-color: #238068;
  color: #ffffff;
}
#toast-container{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    
}
.toast{
    position: fixed;
    top: 40vh;
    left: 40%;
    z-index: 200;
}