{% extends 'staticHtml.html' %}
{% block content %}
<div class="d-flex">
    <main class="col-1">
        ...........
    </main>
  {#            CONTENU DYNAMIQUE#}
    <main class="bg-light shadow-lg container my-5 p-5 d-flex flex-column vh-100">
   <div class="d-flex justify-content-between">
    <h3 class=" "> ajoutez les produits ici:</h3>
       <div class="d-flex">
       <a class="btn btn-outline-success" href="{% url 'produit' %}">
           <i class="btn btn-sm btn-primary m-2"></i><span>Retour</span>
       </a>
           <a class="btn btn-outline-success" href="{% url ' ajouterCat' %}">
           <i class="btn btn-sm btn-primary m-2"></i><span>ajout categorie</span>
       </a>
      </div>
   </div>
        <div style="text-align: justify" class="col-12">
            <div class="d-flex flex-column">
                <form method="post" action="{% url 'ControllerAjoutProduit' %}">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button class="my-3 btn-outline-success ">
                        Enregister
                    </button>
                </form>
            </div>
        </div>
    </main>
    <main class="col-3">
       .........
    </main>
</div>
<div>

</div>
</div>
{% endblock %}

