{% extends 'staticHtml.html' %}
{% block content %}
<div class="d-flex">
    <main class="col-1">
        ...........
    </main>
  {#            CONTENU DYNAMIQUE#}
    <main class="bg-light shadow-lg container my-5 p-5 d-flex flex-column vh-100">
   <div class="d-flex justify-content-between">
       <h3 class=" "><p><em> approvisionner  {{ produit.name }} </em>:<em> {{ produit.quantite }} Pieces </em></p></h3>   <a class="btn btn-outline-success" href="{% url 'produit' %}">
           <i class="btn btn-sm btn-primary m-2"></i><span>Retour</span>
       </a>
       <div class="d-flex">



      </div>
   </div>
        <div style="text-align: justify" class="col-8">

            <div class="d-flex flex-column">
                <form method="post" action="{% url 'approvisionnement2' produit.id %}">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button class="my-3 btn-outline-success ">
                        ajouter
                    </button>
                </form>
            </div>


        </div>
    </main>
    <main class="col-3">
       .........
    </main>
</div>
<div>

</div>
</div>
{% endblock %}

