{% extends 'staticHtml.html' %}
{% block menuSupplementaire%}
{% endblock %}
{% block content %}

<div class="d-flex">
    <main class="col-1">
        ...........
    </main>
  {#            CONTENU DYNAMIQUE#}
    <main class="bg-light shadow-lg container my-5 p-5 d-flex flex-column vh-100">
        <div style="text-align: justify" class="col-12">
<div class = m-3>
    <h1>

      c'est la page qui parle de nous et tout ce que nous faisons, restez toujours branches et vous serez guides sur l'utilisation de notre logiciel de gestion de vos produits pharmaceutiques









    </h1>
</div>
<div class="justify-content-lg-between">
    <h2>n'hesitez pas de nous contacter chaque fois que vous avez des problemes</h2>
            </div>


        </div>
    </main>
    <main class="col-1">
       .........
    </main>
</div>
<div>

</div>
</div>
{% endblock %}