{% extends 'staticHtml.html' %}
{% block menuSupplementaire%}

    {% endblock %}
{% block content %}
<div class="d-flex">
    <main class="col-1">
        ...........
    </main>
  {#            CONTENU DYNAMIQUE#}
    <main class="bg-light shadow-lg container my-5 p-5 d-flex flex-column vh-80"><h3 class="bg-transparent"><strong>maison <em>REX</em> Rdc </strong><h4> FACTURE N°: {{ sale.id }}</h4></h3>
   <div class="d-flex justify-content-between">

        <h3 class=" ">nom: {{ sale.customer }} </em>:<em> quantite:{{ sale.quantite }} </em><em> total facture:{{ sale.total_amount }} FC</em></p></h3>

   </div>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <main class="col-1">
       .........
    </main>
</div>
<div>

</div>
</div>
{% endblock %}










