{% extends 'staticHtml.html' %}
{% block menuSupplementaire%}

    {% endblock %}
{% block content %}

<div class="d-flex">
    <main class="col-1">
        ...........
    </main>
  {#            CONTENU DYNAMIQUE#}
    <main class="bg-light shadow-lg container my-5 p-5 d-flex flex-column vh-100">
        <div style="text-align: justify" class="col-12">
<div class = m-3>
    <h2>nous vous accueillons dans cette
        plate forme de gestion de vos produits pharmaceutiques
    pour voir les produits veuillez d'abord vous connecter</h2>
</div>
<div class="justify-content-lg-between">
    <h2></h2>
            </div>


        </div>
    </main>
    <main class="col-1">
       .........
    </main>
</div>
<div>

</div>
</div>
{% endblock %}