{% extends 'staticHtml.html' %}
{% block menuSupplementaire%}
    <li class="m-1">
         <a class="btn-group-lg" href="{% url 'acc' %}">
                <i class="icon-add_circle"> log out</i>
            </a>
        </li>
    {% endblock %}
{% block content %}
<div class="d-flex">
    <main class="col-1" >..................................................................</main>
  {#            CONTENU DYNAMIQUE#}
    <main class="bg-light shadow-lg container my-5 p-5 d-flex flex-column vh-100">
   <div class="d-flex justify-content-between">
       <H2>voici les produits disponibles en stock:</H2>

   </div>
        <div style="text-align: justify" class="col-100">
                <table class="table-striped  table-bordered">
                    <thead class="table-success">
                    <tr>
                        <th>client</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for n in clients %}
                        <tr>
                            <td>{{ n.clients }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <main class="col-1">
       .........
    </main>
</div>
<div>
</div>
</div>
{% endblock %}










