{% extends 'staticHtml.html' %}

{% block content %}
<div class="d-flex">
    <main class="col-1">
        ...........
    </main>
  {#            CONTENU DYNAMIQUE#}

        <div style="text-align: justify" class="col-12">

            <div class="d-flex flex-column">
                <form method="post" action=" ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-sm btn-primary m-3">
                        <span>Enregistrer</span>
                    </button>


            </div>


        </div>
    </main>
    <main class="col-1">
       .........
    </main>
</div>
<div>

</div>
</div>
{% endblock %}










